.show-menu {
  bottom: 0 !important;
}

#popup-navmenu {
  transition: all, 0.5s;
  bottom: -200px;
}

.glow-effect {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.5);
  color: black;
  transition: text-shadow 0.3s ease-in-out;
}

.navbar a {
  transition: color 0.3s ease;
}